@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap");

/* Variables */

:root {
  --color1: #2ab7ca;
  --color2: #fe4a49;
  --color3: #585757;
}

body {
  font-size: 1.3em;
  font-family: "Fraunces", serif;
  overflow: hidden;
  background: linear-gradient(90deg, #f6d365, #fda085);
  background-size: 400% 400%;
  -webkit-animation: animacionFondo 6s ease infinite;
  -moz-animation: animacionFondo 6s ease infinite;
  -o-animation: animacionFondo 6s ease infinite;
  animation: animacionFondo 6s ease infinite;
}

#container {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
}

.flexStyle {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 65px;
}

#numero {
  font-size: 3.5em;
  text-align: center;
  user-select: none;
  font-weight: bold;
  color: var(--color3);
  position: relative;
  top: 30px;
}

/* Botones */

#boton1,
#boton2,
#boton3 {
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  position: relative;
}

#boton1:active,
#boton2:active,
#boton3:active {
  opacity: 0.9;
  transform: translateY(-2px) scale(1.1);
}

#boton1,
#boton2 {
  background: #59c77a;
  color: #585757;
}

#boton1:hover {
  background: var(--color1);
  color: #fff;
}

#boton2:hover {
  background: var(--color2);
  color: #fff;
}

#boton3 {
  color: #fff;
  background: var(--color3);
}

/* Animaciones */

.animacion,
.animacion2 {
  animation: animacion 0.1s;
}

@keyframes animacion {
  50% {
    transform: scale(1.5);
  }
}

@keyframes animacion2 {
  50% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
