@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap");

/* Variables de color */

:root {
  --color1: #2ab7ca;
  --color2: #fe4a49;
  --color3: #000;
}

body {
  font-size: 1.3em;
  font-family: "Fraunces", serif;
  background: rgba(255, 145, 83, 1);
  overflow: hidden;
}

#container {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
}

.flexStyle {
  display: flex;
  justify-content: space-evenly;
}

#numero {
  font-size: 3em;
  text-align: center;
  user-select: none;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Estilos de los botones */

#boton1,
#boton2,
#boton3 {
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  margin-top: 10px;
}

#boton1:hover {
  background: var(--color1);
  color: #fff;
}

#boton2:hover {
  background: var(--color2);
  color: #fff;
}

#boton3:hover {
  background: var(--color3);
  color: #fff;
}

/* Animaciones */

.animacion {
  animation: animacion 0.1s;
}

.animacion2 {
  animation: animacion2 0.1s;
}

@keyframes animacion {
  50% {
    transform: scale(1.5);
  }
}

@keyframes animacion2 {
  50% {
    transform: scale(1.5);
  }
}
