@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Variables */

:root {
  --color1: #2ab7ca;
  --color2: #fe4a49;
  --color3: #4d4d4d;
  --color4: #fdfdfd;
}

body {
  font-family: "Inter", serif;
}

#container {
  background: var(--color4);
  border-radius: 12px;
  border: 1px solid rgb(218, 218, 218);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

#number {
  font-size: 3em;
  text-align: center;
  user-select: none;
  color: var(--color3);
  padding: 20px;
}

/* Buttons */

#subtractButton,
#resetButton,
#addButton {
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  position: relative;
  border: 1px solid rgb(218, 218, 218);
}

#subtractButton:active,
#resetButton:active,
#addButton:active {
  opacity: 0.9;
  transform: translateY(-2px) scale(1.1);
}

#subtractButton:hover {
  background: var(--color1);
  color: #fff;
}

#resetButton:hover {
  background: var(--color3);
  color: #fff;
}

#addButton:hover {
  background: var(--color1);
}

#addButton {
  color: #fff;
  background: var(--color3);
}

/* Animations */

.animation,
.animation2 {
  animation: animation 0.2s;
}

@keyframes animation {
  50% {
    transform: scale(1.3);
  }
}